*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif; 
}
@media screen and  (max-width:768px ){*{ overflow-x: hidden;}}

body {
    background-image:url("./img/wallpaper.png");
    background-position: 740% 5%;
    background-repeat: no-repeat;
    background-size: 100% 70vh;
    overflow-x: hidden;
}
@media screen and  (max-width:375px){
    body{
    overflow-x: hidden;
    background-size: 95% 48vh;}
   
}
@media screen and  (max-width:375px){
    body{background-position: 100% 5%;
    overflow-x: hidden;
    background-size: 100% 48vh;}
   
}
@media screen and  (width:768px){
    body{
    background-size: 100% 72vh;}
   
}
@media screen and  (width:425px){
    body{
    background-size: 100% 47vh;}
   }
@media screen and  (width:375px){
    body{
    background-size: 100% 58vh;}}


.header {
    min-height:100vh;
    width: 50%;
    background-color: rgb(255, 255, 255);
    background-position:center;
    background-size:cover;
    position:relative;
    opacity: 0.9;
}
@media screen and  (max-width:768px){
    .header{width: 100%;
       }
}
nav{
    display: flex;
    padding: 2% 5%;
    justify-content:flex-end;
    align-items: center;
   
}
nav img{
    width: 150px;
   
}
.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 8px;
    position: relative;
}
.nav-links ul li a {
    color: #5d4edd;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0% ;
    height: 2px;
    background: #228ab3;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width: 100%;
    color: #080149;
}
.text-box{
    width:90%;
    color: #228ab3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
@media screen and  (max-width:768px){
    .text-box{transform: translate(-50%, -35%);}
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 35px 0 40px;
    font-size: 25px;
    color: #228ab3;
}
.drop-btn{visibility: hidden;
position: relative;


}


@media screen and  (max-width:425px){
.drop-btn{visibility: visible;
   height: 40px;}

#drop{visibility: hidden;
    position:absolute;
    transform: translateY(10%);
    z-index: 3;
    opacity: 1 ;
    width: 100%;
    height: 49%;
    display: flex;
    flex-direction: column;
    background-color: rgb(107, 63, 63);
   
    text-align: left;}




.nav-links ul li{ padding: 25px 18px;
    }
.nav-links ul li a{
    color: white;
}  
aside{
    font-size: 35px;
    text-align: center;
cursor: default;

position: absolute;}
.close{position:absolute;
    left: 81%;
    width: 30px;
    height: 33px;
    bottom: 24%;
    z-index:0;
    
}
.open{position: absolute;
    left: 81%;
    bottom: 20%;
    width: 30px;
    height: 30px;
 
   
}


    .text-box h1{min-width: 60vw;
        font-size: 32px;
    }
    .text-box p{font-size:20px ;}
}


.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #222;
    background: #228ab3;
    border: 4px solid #228ab3;
    padding: 12px 34px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    border-radius: 35px 35px 35px 35px;
}

.hero-btn:hover {
    color: #228ab3;
    background-color: transparent;
    border: 4px solid #228ab3;
}

.margin-top {
    margin-top: 55px;
}

.about{display: flex;
padding: 15% 5%;
flex-direction: column;
color: #228ab3;}
.about h1, .service h1{ text-align: center;
font-size: 40px;
color: #228ab3;
padding-bottom: 3%;}
.about-box{
    display:flex;
    flex-direction: row;
   padding-top: 5%;
    align-items: center;
    justify-content:space-between;
   }

@media screen and  (max-width:425px){
    .about{
        padding: 25% 5%;
    }
.about-box{display: flex;
     flex-direction: column;
     padding-top: 15%;
}
.about h1{padding-top: 5%;
padding-bottom: 10%;}
.abt{padding: 5%; color: #228ab3;}
}

.about-box div, .service-box div{width: 250px;
    height: 200px; 
    box-shadow: -0.1px 1px 7px 0.5px rgb(0, 0, 0);
background-color: #e7eff5;}
@media screen and  (width:425px  ){
    .about-box{padding: 25%;}
    .about-box div{margin-bottom: 15%;} 
}
@media screen and  (width:375px  ){
    .about-box{padding: 25%;}
    .about-box div{margin-bottom: 15%;} 
}



@media screen and  (width:768px){.about-box div{width:180px;
margin: 5%;}
}
@media screen and  (width:768px){.service-box div{width:180px;
    }
    }

@media screen and  (max-width:320px){
  
   .about-box div{margin-bottom: 10%; width: 200px;}
}
.about-box div:hover, .service-box div:hover{background-color: #d2e5f3;}

.about-box div h3, .service-box div h3{text-align: center;
    margin-top:40%;
}

.about-box div p, .service-box div p{text-align: center;
    margin-top:5%;
}
.about button, .parent-div button, .service button, .project button{ 
    margin-left: 40vw;
    margin-top: 2%;
    height: 40px;
    width: 120px;
    border-radius: 20px 20px 20px 20px;
    background: #228ab3; 
    border-color: transparent;
    color:  #222    ;
}

@media screen and  (width:768px){.about button{margin-left: 36vw;}
}
@media screen and  (width:425px){.about button{margin-left: 28vw;}}

@media screen and  (width:375px){.about button{margin-left: 29vw;}}


@media screen and  (max-width:320px){
    .about button{margin-left: 26vw;}

}

.about button:hover, .parent-div button:hover{
    background-color: #eaecee;
}
.parent-div{
    perspective: 900px;
   
}
@media screen and  (width:768px){
    .parent-div{width: 90vw;
    }
}
.parent-div div{border: solid ;
height: 370px;
width: 700px;
border-radius: 10px;
border-color: transparent;
margin-top: 3%;
margin-bottom: 5%;
margin-left: 31%;
transform: rotateY(-200deg);
background: #89caff;  
}
article{position: relative;
top: 110px;
left: 250px;
width: 200px;
transform: rotateY(200deg);}

article h1{font-size: 35px; width: 600px;
    }
article p{font-size: 20px;}

.parent-div img{position: absolute;
    bottom:35px ;
    left: 15vw;
height: 300px;
width: 450px;
border-radius: 10px;
transform: rotateY(200deg);
}
@media screen and  (width:768px){.parent-div img{width:350px; left: 6vw;
bottom: 59px;}
article{left: 340px;}
article h1{font-size: 18px;
margin-bottom: 3%;}

}
@media screen and  (max-width:425px){
    .parent-div div{
        width:200px;
        
    }
    .parent-div img{width: 100px;
        left: 15vw;
        
    }
article{box-sizing:border-box;
    left: -9vw;
    width: 60vw;
   
    top: 30%;
}
article h1{font-size: 12px;
}
article p{font-size: 12px; width:190px;
margin-top: 10%;}
.parent-div button{transform: translateY(20%);
    height: 40px;
    font-size: 12px;
}
}
@media screen and  (width:425px){
    article{
    left: -19vw;}

}
@media screen and  (width:375px){
    article{
    left: -15vw;}

}



.service{padding:5% 0%;
    color: #228ab3;}
.service-box{display: grid;
    grid-row-gap: 22px;
    padding:5% 15%;
}
@media screen and  (width:768px){.service-box{
grid-column-gap: 20px; }
}

@media screen and  (max-width:425px){
.service{padding:15% 0%; ;}
.service h1{padding: 5%;}
.service-box{display: flex;
flex-direction: column;
margin-top: 5%;
padding-bottom: 15%;
}

.service button{
transform: translateX(-30%);

}
}
@media screen and  (width: 425px){
    .service button{transform: translateX(-40%);}
}
.project-box{position: relative;
    right: 17%;

}
@media screen and  (width: 768px){
    .project-box{display: grid;
    align-items: center;
margin-left: 20%;
width: 80vw;}
#card1, #card2, #card3, #card4, #card5{
    width: 150px;
}
#card2{grid-column: 2/3;}
#card3{grid-column: 3/3; margin-left: -10%;}
}
    


.project-box div{margin-left: 5%; padding: 5% 7%;}
#card1, #card2, #card3, #card4, #card5{transition: 1.5s;}
#card1:hover, #card2:hover, #card3:hover, #card4:hover, #card5:hover{ padding-top: 6% ;
    padding-bottom: 6% ;}
.project-box a:lik{background-color: aquamarine;
position: relative;
left: 30%;}
@media screen and  (max-width:425px){
    .project-box{margin-left:30%;}
}
@media screen and  (width:425px){
    .project-box div{margin-bottom:40%;}
}
@media screen and  (width:375px){
    .project-box div{margin-bottom:40%;}
}

/*
.prev{position: absolute;
margin-top: 26%;
font-size: 80px;
z-index: 1;
}
.next{position: absolute;
left: 93vw;
z-index: 1;
margin-top: 26%;
font-size: 80px;}
.next:hover, .prev:hover{background-color: #d2e5f3;}
*/